In [1]:
import pandas as pd
from bokeh.plotting import figure, output_file, show
from bokeh.models import ColumnDataSource
from bokeh.palettes import Spectral3
output_file('types_of_munitions.html')

df = pd.read_csv('thor_wwii.csv')

In [2]:
filter = df['COUNTRY_FLYING_MISSION'].isin((
    'USA',
    'GREAT BRITAIN'
))

df[filter]

,MSNDATE,THEATER,COUNTRY_FLYING_MISSION,NAF,UNIT_ID,AIRCRAFT_NAME,AC_ATTACKING,TAKEOFF_BASE,TAKEOFF_COUNTRY,TAKEOFF_LATITUDE,TAKEOFF_LONGITUDE,TGT_COUNTRY,TGT_LOCATION,TGT_LATITUDE,TGT_LONGITUDE,TONS_HE,TONS_IC,TONS_FRAG,TOTAL_TONS
0,03/30/1941,ETO,GREAT BRITAIN,RAF,84 SQDN,BLENHEIM,10.0,NaN,NaN,NaN,NaN,ALBANIA,ELBASAN,41.100000,20.070000,0.0,0.0,0.0,0.0
1,11/24/1940,ETO,GREAT BRITAIN,RAF,211 SQDN,BLENHEIM,9.0,NaN,NaN,NaN,NaN,ALBANIA,DURAZZO,41.320000,19.450000,0.0,0.0,0.0,0.0
2,12/04/1940,ETO,GREAT BRITAIN,RAF,211 SQDN,BLENHEIM,9.0,NaN,NaN,NaN,NaN,ALBANIA,TEPELENE,40.300000,20.020000,0.0,0.0,0.0,0.0
3,12/31/1940,ETO,GREAT BRITAIN,RAF,211 SQDN,BLENHEIM,9.0,NaN,NaN,NaN,NaN,ALBANIA,VALONA,40.470000,19.490000,0.0,0.0,0.0,0.0
4,01/06/1941,ETO,GREAT BRITAIN,RAF,211 SQDN,BLENHEIM,9.0,NaN,NaN,NaN,NaN,ALBANIA,VALONA,40.470000,19.490000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178276,08/01/1945,PTO,USA,20 AF,73 BW,B29,99.0,NaN,NaN,NaN,NaN,JAPAN,TOYAMA,36.700000,137.216667,0.0,999.0,0.0,999.0
178277,07/22/1942,MTO,GREAT BRITAIN,RAF,NaN,BLENHEIM,NaN,NaN,NaN,NaN,NaN,EGYPT,MERSA MATRUH,31.330000,27.200000,0.0,0.0,0.0,1300.0
178278,08/17/1940,EAST AFRICA,GREAT BRITAIN,RAF,47 SQDN,WELLESLEY,6.0,ERKOWIT,SUDAN,18.75,37.0,SUDAN,KASSALA,15.450000,36.400000,4750.0,0.0,0.0,4750.0
178279,08/06/1945,PTO,USA,20 AF,509 CG,B29,1.0,NaN,NaN,NaN,NaN,JAPAN,HIROSHIMA,34.400000,132.466667,15000.0,0.0,0.0,15000.0
178280,08/09/1945,PTO,USA,20 AF,509 CG,B29,1.0,NaN,NaN,NaN,NaN,JAPAN,NAGASAKI,32.733333,129.866667,20000.0,0.0,0.0,20000.0

In [4]:
grouped = df.groupby('COUNTRY_FLYING_MISSION')[
    'TONS_IC',
    'TONS_FRAG',
    'TONS_HE'
].sum()

grouped = grouped / 1000

C:\Users\minni\AppData\Local\Temp\ipykernel_35668\4117801032.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped = df.groupby('COUNTRY_FLYING_MISSION')[

In [11]:
source = ColumnDataSource(grouped)
#countries = source.data['COUNTRY_FLYING_MISSION'].tolist()
countries = ['USA', 'GREAT BRITAIN']
p = figure(x_range = countries)

In [12]:
p.vbar_stack(
            stackers = ['TONS_HE', 'TONS_FRAG', 'TONS_IC'],
            x = 'COUNTRY_FLYING_MISSION',
            source = source,
            legend_label = ['High Explosive', 'Fragmentation', 'Incendiary'],
            width = .5,
            color = Spectral3
            )

[GlyphRenderer(id='1338', ...),
 GlyphRenderer(id='1357', ...),
 GlyphRenderer(id='1375', ...)]

In [13]:
p.title.text = 'Types of Munitions Dropped by Allied Country'
p.legend.location = 'top_left'

p.xaxis.axis_label = 'Country'
p.xgrid.grid_line_color = None

p.yaxis.axis_label = 'Kilotons of Munitions'

In [14]:
show(p)